<% if(theme.thumbnail == true) { %>
<a href="<%- url_for((post.link?post.link:post.path)) %>" class="thumbnail">
  <%
    var img = /<img\s[\s\S]*?\bsrc\s*=\s*(?:"([^"]*)"|'([^']*)'|(\S+))[\s\S]*?>/ig;
    var s = "";
    var result = img.exec(post.content);
    if(result != null) {
      for(var i = result.length -1; i; --i){
        if (result[i] != null) {
          s = result[i];
          break;
        }
      }
    }

    if(s.length > 0){
  %>
    <span style="background-image:url(<%= s %>)" alt="<%= post.title %>" class="thumbnail-image"></span>
  <% } else { %>
    <span class="thumbnail-image thumbnail-none"></span>
  <% } %>
</a>
<% }%>
