$nav-link
  color: color-nav-foreground
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  display: block
  padding: 20px 15px
  transition: 0.2s ease-in
  &:hover
    color: #fff
    background: color-nav-hover-background

.nav-container
  clearfix()
  padding: 0 15px
  background: color-nav-background
  z-index: 1
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.05),
              0 -1px 0 rgba(0,0,0,0.2),
              inset 1px 0 0 rgba(0,0,0,0.2),
              inset -1px 0 0 rgba(0,0,0,0.2)
  .nav-icon
    @extend $nav-link
    line-height: 20px
    padding: 15px 14px
    font-family: font-icon
    text-align: center
    font-size: font-size
    position: relative
    cursor: pointer
  #main-nav-opener:checked
    ~ .nav-container-inner
      display: block
    ~ #main-nav-toggle
      &:before
        content: "\f00d"
  #main-nav-toggle
    display: none
    width: 100%
    text-align: right
    box-sizing: border-box
    border-bottom: 1px solid rgba(255,255,255,0.06)
    &:before
      content: "\f0c9"
  .nav-container-inner
    clearfix()
    .js-on &
      height: 50px
    #main-nav
      display: inline-block
      .main-nav-list
        display: inline-block
      .main-nav-list-item
        position: relative
        display: inline-block
        &:hover
          & > .main-nav-list-child
            max-height: 1000px
        &.top-level-menu
          & > a:after
            content: "\f0d7" !important
            float: none
            margin-left: 6px
            font-size: 14px
            line-height: 1.2em
            opacity: 0.5
            font-family: FontAwesome
            display: inline-block
          &:hover
            & > a
              color: #fff
              background: rgba(0,0,0,0.1)
        .main-nav-list-link
          @extend $nav-link
          line-height: 20px
          padding: 15px 14px
          font-size: 16px
          white-space: pre
          &.current
            color: color-nav-current-color
            background-color: color-nav-current-background
        .main-nav-list-child
          top: 100%
          max-height: 0
          transition: max-height 0.2s ease-in
          padding: 0
          overflow: hidden
          position: absolute
          min-width: main-nav-child-width
          background: color-nav-background url(images/opacity-10.png) repeat
          li
            box-shadow: 0 1px 0 rgba(255,255,255,0.06)
            &:last-child
              box-shadow: none
          li, li a
            width: 100%
            display: block
            box-sizing: border-box
    #sub-nav
      float: right
      .js-on &
        float: none
        position: absolute
        right: 15px
        top: 0
        background: color-nav-background

.search-form
  padding: 10px 0 16px 15px
  height: 50px
  overflow: hidden
  box-sizing: border-box
  &:before
    content: "\f002"
    cursor: default
    margin-right: 8px
    color: color-nav-foreground
    font: normal normal normal 16px/1 FontAwesome

.search-form-input
  width: 100px
  border: 1px solid (color-nav-background + 20%)
  outline: none
  background: none
  line-height: line-height
  transition: width 0.2s ease-in
  font: 16px font-sans
  color: color-nav-foreground
  padding: 4px
  &:focus
    width: 200px
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  display: none
